body {
  margin: 0;
  font-family: Arial;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: black;
  color: white;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  padding: 50px;
  background: #f4f4f4;
}

.hero img {
  width: 400px;
  border-radius: 10px;
}

.hero-text {
  flex: 1;
}

button {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  margin-top: 10px;
}

/* FEATURES */
.features {
  text-align: center;
  padding: 40px;
}

.feature-box {
  display: inline-block;
  width: 200px;
  margin: 15px;
  padding: 20px;
  background: lightgray;
  border-radius: 10px;
}

/* ABOUT */
.about {
  display: flex;
  padding: 40px;
  align-items: center;
}

.about img {
  width: 300px;
  margin-right: 20px;
  border-radius: 10px;
}

/* CONTACT */
.contact {
  text-align: center;
  padding: 40px;
  background: #222;
  color: white;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: black;
  color: white;
}

/* HOVER 🔥 */
button:hover {
  background: red;
  transition: 0.3s;
}